/* Common Start */
	body{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
/* Common Eng */

/* Header Start */
header{
	border-bottom: 3px solid #EEF0F3;
	padding: 10px 0;
}

.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}

.logo{
	width: 128px;
	float: left;
}

.logo img{
	width: 100%;
}

.menu{
	width: 85%;
	float: right;
	overflow: hidden;
}

.menu ul{
	list-style: none;
	float: right;
}

.menu ul li{
	float: left;

}

.menu ul li a{
	padding: 0 20px;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	text-transform: capitalize;
	color: #10295A;
}
.menu ul li:last-child a{
	padding-right: 0;
}

.menu ul li a:hover{
	color: #0189FF;
}
/* Header End */



/* Banner Start */
.banner{
}

.container2{
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

.b_content{
	color: #0F2656;
}

.b_content h1 {
    margin: 60px 3px 0;
    font-size: 80px;
    font-weight: 600;
    line-height: 110px;
}

.b_content p{
	margin: 0px 58px;
	font-size: 22px;
    font-weight: 500;
    line-height: 40px;
}

.b_content h1 span{
	color: #008AFF;
}

.banner_img{
	margin: 0 auto;
	width: 70%;
}

.banner_img img{
	width: 100%;
}
/* Banner End */

/* Succesfull Start */
.succesfull{
	margin: 60px 0;
}

.container3{
	margin: 0 auto;
	width: 70%;
	color: #0F2656;
	overflow: hidden;
}

.content_left {
    margin: 0 0 0 130px;
    width: 36%;
    text-align: right;
    float: left;
}

.content_left h3{
	margin: 0;
	font-size: 70px;
    font-weight: 700;
    color: #F15767;
}

.content_left p{
	margin: 0;
	font-size: 22px;
    font-weight: 400;
   	line-height: 38px;
}

.content_right {
    margin: 0 50px 0 0;
    width: 47%;
    text-align: left;
    float: right;
}

.content_right h2{
	margin: 0;
	font-size: 70px;
    font-weight: 700;
}
/* Succesfull End */


/* Box Start */
.box{
	
}

.container4{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}

.box_content{
	margin: 60px 20px;
    padding: 90px 50px;
    width: 25%;
    float: left;
    color: #0F2656;
}

.box_content img{
	width: 100%;
	height: 300px;
}

.box_content h2{
	font-size: 30px;
    font-weight: 700;
}

.box_content p{
	font-size: 22px;
    line-height: 30px;
}

.box1{
	background-color: #FDEBED;
}

.box2{
	background-color: #EBF9F4;
}

.box3{
	background-color: #FFF7E8;
}
/* Box End */

/* Footer Start */
footer{
	padding: 10px 0;
	background-color: #008AFF;
}

.f_content{
	text-align: center;
}

.f_content p{
	font-size: 20px;
	color: #92C7FF;
}

.f_content span{
	font-weight: 500;
	letter-spacing: 5px;
	color: white; 
}
/* Footer End */

